            * {
                font-family: 'Nunito', Verdana, sans-serif;
            }
            
            body.login {
                background-color: #34889c;
                background: linear-gradient(to right, #34889c, #4678c8);
            }
            
            .bg-login {
                background-image: url('../img/login1.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            
            #main-page {
                background-color: #f8f9fc;
            }
            
            .callout-primary {
                border-left-width: 6px;
                border-left-color: #428bca;
            }
            
            .callout-success {
                border-left-width: 6px;
                border-left-color: #1cc88a;
            }
            
            .callout-info {
                border-left-width: 6px;
                border-left-color: #36b9cc;
                ;
            }
            /*Estilos propios */
            
            .container {
                max-height: 100vh;
            }
            
            @media screen and (max-width: 1225px) and (min-width: 1045px) {
                .priority-5 {
                    display: none;
                }
            }
            
            @media screen and (max-width: 1045px) and (min-width: 300px) {
                .priority-4 {
                    display: none;
                }
                .priority-3 {
                    display: none;
                }
            }
            
            @media screen and (max-width: 575px) {
                .priority-5 {
                    display: none;
                }
                .priority-3 {
                    display: none;
                }
                .priority-4 {
                    display: none;
                }
            }
            
            @media screen and (max-width: 350px) {
                .priority-2 {
                    display: none;
                }
                .priority-3 {
                    display: none;
                }
                .priority-4 {
                    display: none;
                }
                .priority-5 {
                    display: none;
                }
            }
            
            @media screen and (max-width: 280px) {
                .priority-5 {
                    display: none;
                }
                .priority-4 {
                    display: none;
                }
                .priority-3 {
                    display: none;
                }
                .priority-2 {
                    display: none;
                }
                .priority-6 {
                    display: none;
                }
            }
            
            .text-center {
                width: auto;
            }
            
            .footer {
                max-height: 5px;
            }
            
            .text_footer {
                margin-bottom: 10px;
            }
            
            .form-control {
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }